.aboutUsDiv {
    padding-top: 1%;
    background-size: cover;
    padding-bottom: 5%;
    position: sticky;
}

.aboutUsLogo {
    margin-top: 80px;
    height: 12vw;
    width: 12vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}