.Whoweare {
    padding-top: 10%;
    font-family: "Bahnschrift";
    font-size: 100px;
    color: #da3f3e;
    margin-left: 0%;
    text-shadow: 1px 1px 1px #2b2a2f;
    text-align: center;
}

Container {
    z-index: 1;
}

.AboutUs {
    height: 800px;
}
.description {
    display: flex;
}

.descriptiontext {
    font-family: "Bahnschrift";
    font-size: 24px;
    text-align: left;
    margin-left: 0%;
    margin-top: 2.5%;
    color: #2b2a2f;
    /* text-shadow: 0.5px 0px 0.5px ; */
}

.aboutUsIMG {
    height: 300px;
    margin-left: 20%;
    margin-top: 0%;
    justify-content: right;

}

.learnMore {
    font-family: "Bahnschrift";
    font-size: 20px;
    color: #2b2a2f;
    margin-top: -2%;
}

.bgTxt0 {
    z-index: 0;
}

.bgtext {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: transparent;
    -webkit-text-stroke: 5px #2b2a2f;
    font-size: 300px;
    margin-bottom: -18%;
    margin-left: 5%;
    padding-top: 1%;
    opacity: .03;
}

.bgtext1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: transparent;
    -webkit-text-stroke: 5px #2b2a2f;
    font-size: 300px;
    margin-bottom: -45%;
    margin-left: 5%;
    padding-top: 12%;
    text-align: right;
    padding-right: 9.6%;
    opacity: 0.03;  
}

