


.disciplinesHeader {
    color: #8d2626;
    text-shadow: 1px 1px 1px #fbf5db;
    font-size: 8vw;
    margin-left: 5%;
    margin-top: 3%;
}

.disciplinesHeader2 {
    color: #fbf5db;
    font-size: 2vw;
    margin-left: 5%;
    margin-right: 5%;
}

.disciplinesRow {
    margin: 5%;
    display: flex;
    width: 100vw;
}

.disciplinesIcon {
    width: 12vw;
    height: 18vw;
    position: relative;
    border-radius: 1.5vw;
    transition: 0.2s;
    z-index: 3;
}

.disciplinesIcon:hover {
    transform: translate(0, -3%);
    -webkit-transform: translate(0, -3%);
    -o-transform: translate(0, -3%);
    -moz-transform: translate(0, -3%);
    box-shadow: 0 0 0 1px #fbf5db;
}

.disciplinesBackItem {
    background-color: rgb(102, 102, 102);
    position: absolute;
    border-radius: 1.5vw;
    transition: 0.1s;
    text-align: center;

    
}



.disciplinesName {
    font-size: 1vw;
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 2;
    margin: 0;
}

