.disciplines {
    width: 100%;
    height: 800px;
    background-color: #2b2a2f;
    padding-top: 6%;
}

.disc  img{
    height: 350px;
    width: 250px;
    margin-top: 25%;
    
}

.disc {
    padding: 20px;
    
    
}



.game {
    text-decoration: none; 
    
}



.game img {
    border-radius: 20px;
}

.game img:hover {
    transform: scale(1.005);
}

.gameName {
    text-align: center;
    width: 250px;
    font-family: "Bahnschrift";
    font-size: 24px;
    text-decoration: none;
    color:#fbf5db
}



.disciplinesTxt {
    font-family: "Bahnschrift";
    font-size: 400%;
    margin-top: -3%;
    text-align: center;
    color: #da3f3e;
    margin-bottom: 0%;
    text-shadow: 1px 1px 1px #fbf5db;
}

.lildistxt {
    font-family: "Bahnschrift";
    font-size: 32px;
    text-align: left;
    margin-top: 0%;
    color: #fbf5db;
    margin-bottom: -16%;
    text-align: center;
}

.disciplinesIcon {
    width: 12vw;
    height: 18vw;
    position: relative;
    border-radius: 1.5vw;
    transition: 0.2s;
    
    z-index: 3;
}

.disciplinesIcon:hover {
    transform: translate(0, -3%);
    -webkit-transform: translate(0, -3%);
    -o-transform: translate(0, -3%);
    -moz-transform: translate(0, -3%);
    box-shadow: 0 0 0 1px #fbf5db;
}

.disciplinesBackItem {
    background-color: #242327;
    position: absolute;
    border-radius: 1.5vw;
    transition: 0.1s;
    text-align: center;
}



.disciplinesName {
    font-size: 1vw;
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 2;
    margin: 0;
}
