

.nav {
    background-color: rgb(0, 42 47);
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    width: 100%;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1;
}
.brand {
    margin-left: 2%;
    font-family: "Bahnschrift";
    font-size: 24px;
    color: #fbf5db;
    width: 200px;
}



.brand:hover {
    color: #fbf5db;
}

.brand:focus {
    color: #fbf5db;
}

.navBtn {
    font-family: "Bahnschrift";
    font-size: 16px;
    color: #dfdfdf;
}

.navBtn:hover {
    color: #acacac;
}

.navBtn:focus {
    color: #fbfbfb;
}


.logInBtn {
    height: 32px;
    width: 100px;
    margin-top: 2%;
    margin-right: 10px;
    font-family: "Bahnschrift";
    display: flex;
    justify-content: center; 
    font-size: 14px;
    border-radius: 30px;
    text-align: center;
}

.logInBtn:hover {
    color: #acacac;
}


.signInBtn {
  height: 42px;
  width: 120px;
  margin-right: 2%;
  font-family: "Bahnschrift";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: #ed1c24;
  border-radius: 30px;
  border: 0;
  text-align: center;
}

.signInBtn:hover {
    background-color: #9c1419;
    color: #acacac;
}

@media (max-width: 991px) {
    .navBtn {
        margin-left: 2%;
    }


    #logIn{
        margin-left: 2%;
        margin-bottom: 2%;
    }

    
}