.footer-container {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
footer p {
  font-size: 16px;
  font-family: "Bahnschrift";
}

footer a {
  font-size: 16px;
  font-family: "Bahnschrift";
}

  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
  }
  


  
.footer-info {
  margin-top: 1%;
  margin-bottom: 2%;
}

  .footer-info p {
    text-align: center;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .footer-bottom {
    background-color: #222;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    align-items: center;

  }
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: flex-start;
    }
    .footer-logo {
      margin-bottom: 20px;
    }
    .footer-info {
      margin-bottom: 20px;
    }
    .footer-bottom {
      font-size: 12px;
    }
  }

.footer-links {
  margin-bottom: 20px;
  text-align: center;
}
  


.contactLogos {
  height: 2vw;
  width: 2vw;
}

.footerLinksNoLast {
  padding-right: 1%;
}

@media (max-width: 2560px) {

  .contactLogos {
    height: 50px;
    width: 50px;
  }

  .footerLinksNoLast {
    padding-right: 1%;
  }

}

@media (max-width: 1440px) {

  .contactLogos {
    height: 40px;
    width: 40px;
  }

  .footerLinksNoLast {
    padding-right: 1%;
  }

}

@media (max-width: 768px) {

  .contactLogos {
    height: 25px;
    width: 25px;
  }

  .footerLinksNoLast {
    padding-right: 3%;
  }

}