.root{
    padding: 15px;
    width:'100%';
    height:'500px';
    background: linear-gradient(to right, #da3f3e, #171616)
}
.text{
    margin-left: 30px;
    font-family:"Bahnschrift";
    color: white;
    text-shadow:
    1px 1px 1px #171616,
}